.who-i-am{
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    justify-content: center;
}

.description-who-i-am{
    font-weight: 400;
    font-size: 18px;
    line-height: 150.38%;
}
.profile-image{
    width: 250px;
    height: auto;
}